doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 17
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 Drill 17 - Ajax

    h3 Stock Quote Demo

    input#shares(type='text' placeholder='Number of Shares')
    input#symbol(type='text' placeholder='Stock Symbol')
    button#position Get Position

    #portfolio
        .share
        .price
        .position

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
