doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 18
    link(rel='stylesheet', href='./css/d-18.css')
  body
    h1 Drill 18 - Ajax

    h3 Stock Quote Demo

    input#symbols(type='text')
    button#update Add Auto-Update

    table#update
        thead
            tr
                th.symbol Symbol
                th.quote Quote
        tbody
        

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-18.js')
