doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 26 Weather
    link(rel='stylesheet', href='./css/d-26.css')
  body
    #controls

        h1 Drill 26 10 Day Forecast
        input#zip(type='text')
        button#forecast Forecast

    #weather

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-26.js')
